<div class="details-wrap">
    <div class="details-header">
        <h3>Szczegóły</h3>
    </div>
    <div class="details-content">
        <div class="details-row">
            <span>ID transakcji:</span> <span>{{doc_number}}</span>
        </div>
        <div class="details-row">
            <span>Sprzedawca:</span> <span>{{seller}}</span>
        </div>
        <div class="details-row">
            <span>Miejsce:</span> <span>{{store_name}}</span>
        </div>
    </div>
    <div class="details-header">
        <h3>Lista produktów</h3>
    </div>
    <div class="details-content">
        <div class="details-table-row">
            <div class="details-table-cell details-table-cell__short">
                <p>LP</p>
            </div>
            <div class="details-table-cell details-table-cell__ultra_long">
                <p>PRODUKT</p>
            </div>
            <div class="details-table-cell details-table-cell__long">
                <p>EAN</p>
            </div>
            <div class="details-table-cell details-table-cell__short">
                <p>ILOŚĆ</p>
            </div>
            <div class="details-table-cell details-table-cell__short">
                <p>CENA</p>
            </div>
        </div>
        {{#products}}
        <div class="details-table-row">
            <div class="details-table-cell details-table-cell__short">
                <p>{{@index}}</p>
            </div>
            <div class="details-table-cell details-table-cell__ultra_long">
                <p>{{name}}</p>
            </div>
            <div class="details-table-cell details-table-cell__long">
                <p>{{ean}}</p>
            </div>
            <div class="details-table-cell details-table-cell__short">
                <p>{{quantity}}</p>
            </div>
            <div class="details-table-cell details-table-cell__short">
                <p>{{price}}</p>
            </div>
        </div>
        {{/products}}
    </div>
</div>